---
import { ActivityList } from "@/components/ActivityList";
import { Footer } from "@/components/Footer";
import { Container } from "@/cores/Container";
import { activities } from "@/data/activities";
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout
  seo={{
    title: "hbsnow.dev",
    description: "hbsnow の技術メモ置き場を兼ねた実験場",
  }}
  breadcrumb={[{ name: "activity" }]}
>
  <main>
    <Container>
      <ActivityList activities={activities} />
    </Container>
  </main>
</BaseLayout>

<style>
  main {
    padding: var(--s5) 0;
  }
</style>
