.root {
  display: block;
  background-color: var(--color-default-bg);
  border-radius: var(--s-2);
  padding: var(--s0);
}

.linkCard:hover {
  text-decoration: none;
  box-shadow: 0 0 var(--s-5) rgba(0, 0, 0, 0.2);
}

.linkCard:focus,
.linkCard:hover {
  outline: 3px solid var(--color-primary);
}
