---
import { BlogList } from "@/components/BlogList";
import { Container } from "@/cores/Container";
import BaseLayout from "@/layouts/BaseLayout.astro";
import type { Frontmatter } from "@/types/astro";
import { sortPostByCreatedAt } from "@/utils/sortPostByCreatedAt";

const unsortedPosts = await Astro.glob<Frontmatter>("./*.md");
const posts = sortPostByCreatedAt(unsortedPosts);
---

<BaseLayout
  seo={{
    title: "Blog | hbsnow.dev",
    description: "hbsnow のブログ記事一覧。",
  }}
  breadcrumb={[{ name: "blog" }]}
>
  <main>
    <Container>
      <BlogList posts={posts} />
    </Container>
  </main>
</BaseLayout>

<style>
  main {
    padding: var(--s5) 0;
  }
</style>
