:root {
  --color-default-bg: #fefefe;
  --color-default-surface: #eeeeee;
  --color-default-text: rgba(0, 0, 0, 0.78);
  --color-default-text-muted: rgba(0, 0, 0, 0.54);
  --color-default-divider: rgba(0, 0, 0, 0.12);
  --color-primary: #336bf2;
  --color-primary-text: rgba(255, 255, 255, 0.87);
  --color-primary-variant-bg: #6f5571;
  --color-primary-variant-text: rgba(255, 255, 255, 0.87);
  --color-transparent: rgba(255, 255, 255, 0);
  --color-gradation: linear-gradient(
    45deg,
    hsl(224deg 67% 56%) 0%,
    hsl(208deg 100% 44%) 8%,
    hsl(206deg 100% 46%) 15%,
    hsl(204deg 100% 46%) 23%,
    hsl(202deg 100% 46%) 31%,
    hsl(200deg 100% 46%) 38%,
    hsl(197deg 100% 45%) 46%,
    hsl(194deg 100% 43%) 54%,
    hsl(190deg 100% 42%) 62%,
    hsl(186deg 100% 40%) 69%,
    hsl(181deg 100% 38%) 77%,
    hsl(176deg 100% 38%) 85%,
    hsl(171deg 100% 39%) 92%,
    hsl(167deg 100% 40%) 100%
  );
  --color-gradation-brightness: 1.1;
  --color-gradation-text: rgba(255, 255, 255, 0.87);
  --font-family-default: sans-serif;
  --font-family-heading: "Nunito", var(--font-family-default);
  --font-family-code: "Ricty", "Ricty Diminished", "HackGen", "PlemolJP",
    "Source Han Code JP", "Inconsolata", monospace;
  --container-size: 40em;
  --ratio: 1.25;
  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));
  --border-thin: 1px;
  --border-thick: 3px;
  --border-radius: var(--s-3);
  --line-height: 1.8;
  --line-height-small: 1.4;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-default-bg: #252525;
    --color-default-surface: rgba(255, 255, 255, 0.08);
    --color-default-text: rgba(232, 232, 232, 0.8);
    --color-default-text-muted: rgba(255, 255, 255, 0.49);
    --color-default-divider: rgba(255, 255, 255, 0.2);
    --color-primary: #70a5d4;
    --color-primary-text: rgba(255, 255, 255, 0.87);
    --color-primary-variant-bg: #9c94a8;
    --color-primary-variant-text: rgba(0, 0, 0, 0.87);
    --color-transparent: rgba(0, 0, 0, 0);
    --color-gradation-brightness: 0.8;
  }
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  color: var(--color-default-text);
  background-color: var(--color-default-bg);
  font-family: var(--font-family-default);
  line-height: var(--line-height);
  margin: 0;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin: var(--s0) 0;
  padding: 0;
}

h1 {
  font-size: var(--s2);
}
h2 {
  font-size: var(--s1);
}
h3 {
  font-size: var(--s0);
}
h4 {
  font-size: var(--s-1);
}
h5 {
  font-size: var(--s-2);
}
h6 {
  font-size: var(--s-3);
}

p,
dl,
dd,
table,
pre {
  margin: calc(var(--s0)) 0 0;
  padding: 0;
}

ul,
ol {
  margin: var(--s0) 0 0 var(--s0);
  padding: 0;
}

ul ul,
ul ol,
ol ul,
ol ol {
  margin: 0 0 0 var(--s0);
}

li {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border: var(--border-thin) solid var(--color-default-divider);
}

thead {
  background-color: var(--color-default-surface);
}

th,
td {
  border: var(--border-thin) solid var(--color-default-divider);
  padding: var(--s-2);
}

a {
  color: var(--color-primary);
  text-decoration: none;
}
a:where(:hover) {
  text-decoration: underline;
}
a:where(:visited) {
  color: var(--color-primary-variant-bg);
}
a:where([href="/"]:visited),
a:where([href="/blog"]:visited),
a:where([href="/activity"]:visited) {
  color: var(--color-primary);
}

img,
svg {
  vertical-align: bottom;
}

pre {
  line-height: var(--line-height-small);
  font-family: var(--font-family-code);
  font-size: 1em;
  overflow-wrap: break-word;
  tab-size: 4;
  white-space: pre-wrap;
  word-break: normal;
}

code,
kbd,
samp {
  font-family: var(--font-family-code);
}

i {
  font-style: normal;
}
