:root {
  font-size: calc(1em + 0.25vw);
  --color-default-bg: #fefefe;
  --color-default-surface: rgba(32, 32, 32, 0.03);
  --color-default-text: rgba(0, 0, 0, 0.87);
  --color-default-text-muted: rgba(0, 0, 0, 0.54);
  --color-default-divider: rgba(0, 0, 0, 0.12);
  --color-primary: #335bc4;
  --color-primary-text: rgba(255, 255, 255, 0.87);
  --color-primary-variant-bg: #6f5571;
  --color-primary-variant-text: rgba(255, 255, 255, 0.87);
  --color-transparent: rgba(255, 255, 255, 0);
  --font-family-default: sans-serif;
  --font-family-code: "_", monospace;
  --container-size: 36em;
  --ratio: 1.25;
  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));
  --border-thin: 1px;
  --border-thick: 3px;
  --border-radius: var(--s-3);
  --line-height: 1.8;
  --line-height-small: 1.4;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-default-bg: #2b2842;
    --color-default-surface: rgba(255, 255, 255, 0.08);
    --color-default-text: rgba(255, 255, 255, 0.87);
    --color-default-text-muted: rgba(255, 255, 255, 0.49);
    --color-default-divider: rgba(255, 255, 255, 0.2);
    --color-primary: #70a5d4;
    --color-primary-text: rgba(255, 255, 255, 0.87);
    --color-primary-variant-bg: #9c94a8;
    --color-primary-variant-text: rgba(0, 0, 0, 0.87);
    --color-transparent: rgba(0, 0, 0, 0);
  }
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  color: var(--color-default-text);
  background-color: var(--color-default-bg);
  font-family: var(--font-family-default);
  line-height: var(--line-height);
  margin: 0;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/*
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin: calc(var(--s0) * 4) 0;
  padding: 0;
}

h1 {
  font-size: var(--s3);
}
h2 {
  font-size: var(--s2);
}
h3 {
  font-size: var(--s1);
}
h4 {
  font-size: var(--s0);
}
h5 {
  font-size: var(--s-1);
}
h6 {
  font-size: var(--s-2);
}

p,
dl,
dd,
table,
pre {
  margin: calc(var(--s0)) 0 0;
  padding: 0;
}

ul,
ol {
  margin: 0 0 calc(var(--gap-size) * 2) calc(var(--gap-size) * 2);
  padding: 0;
}

ul ul,
ul ol,
ol ul,
ol ol {
  margin: 0 0 0 calc(var(--gap-size) * 2);
}

li {
  margin: 0 0 var(--gap-size / 2);
  padding: 0;
}

table {
  border-collapse: collapse;
  border: 1px solid var(--color-default-divider);
}

thead {
  background-color: var(--color-default-surface);
}

th,
td {
  border: 1px solid var(--color-default-divider);
  padding: var(--gap-size);
}

a {
  display: inline-block;
  color: var(--color-primary);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:visited {
  color: var(--color-primary-variant-bg);
}
a[href^="#"]:visited,
a[href="/"]:visited,
a[href="/blog/"]:visited {
  color: var(--color-primary);
}

img,
svg {
  vertical-align: bottom;
}

pre {
  font-family: var(--font-family-code);
  font-size: 1em;
  overflow-wrap: break-word;
  tab-size: 4;
  white-space: pre-wrap;
  word-break: normal;
}

code,
kbd,
samp {
  font-family: var(--font-family-code);
}

i {
  font-style: normal;
} */
