.root {
  display: flex;
  flex-direction: column;
  border: var(--border-thin) solid var(--color-default-divider);
  background-color: var(--color-default-bg);
  border-radius: var(--border-radius);
  padding: var(--s0);
  gap: var(--s-2);
}

.title {
  line-height: var(--line-height-small);
  font-size: var(--s0);
  margin: 0;
  padding: 0;
}

.times {
  display: flex;
  gap: var(--s-2);
}

.createdAt,
.updatedAt {
  font-size: var(--s-1);
}

.createdAt.disabled {
  color: var(--color-default-text-muted);
}
