---
import { Footer } from "@/components/Footer";
import { LinkCard } from "@/cores/Card";
import { Container } from "@/cores/Container";
import { Heading } from "@/cores/Heading";
import { ColoredIcon } from "@/cores/Icon";
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout
  seo={{
    title: "hbsnow.dev",
    description: "hbsnow の技術メモ置き場を兼ねた実験場",
  }}
>
  <header>
    <Heading level={1} className="heading"><span>hbsnow.dev</span></Heading>
  </header>

  <main>
    <Container>
      <!-- <About>
        <Picture
          src={avatarImage}
          formats={["avif", "webp", "png"]}
          widths={[224]}
          sizes="100%"
          alt="hbsnow"
          aspectRatio="1:1"
          class="avatar"
        />
      </About> -->

      <div role="list" class="menu">
        <LinkCard href="/blog"
          ><ColoredIcon name="blog" /><h2>Blog</h2>
        </LinkCard>
        <!-- <LinkCard href="/activity"
          ><ColoredIcon name="activity" /><h2>Activity</h2>
        </LinkCard> -->
      </div>
    </Container>
  </main>

  <Footer />
</BaseLayout>

<style>
  header {
    padding: var(--s5);
  }

  main {
    position: relative;
    padding-top: var(--s5);
    padding-bottom: var(--s5);
  }
  main::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: var(--color-gradation);
    filter: brightness(var(--color-gradation-brightness));
    z-index: -1;
  }

  .heading {
    text-align: center;
  }
  .heading > span {
    background-image: var(--color-gradation);
    background-clip: text;
    color: transparent;
  }

  .menu {
    display: flex;
    flex-wrap: wrap;
    gap: var(--s0);
  }

  .menu > :global(*) {
    display: flex;
    align-items: center;
    flex: 1 1 12rem;
    gap: var(--s0);
  }

  .menu :global(h2) {
    font-family: var(--font-family-heading);
    margin: 0;
  }
</style>
