.root {
  background-color: var(--color-default-bg);
  padding: var(--s-2) 0;
}

.heading {
  display: flex;
  align-items: baseline;
  font-size: var(--s0);
  gap: var(--s-2);
}

.slash {
  font-size: var(--s-1);
}

.pathname {
  font-size: var(--s-1);
}
