.header {
  padding: var(--s5) 0;
  border-bottom: var(--border-thin) solid var(--color-default-divider);
}
.header a {
  color: var(--color-primary);
}

.flex {
  display: flex;
  align-items: center;
  gap: 0 var(--s0);
}

.flex > *:nth-child(2) {
  margin-left: auto;
}

.heading {
  font-size: var(--s1);
}

.navList {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: var(--s1);
}

.navList > li {
  display: block;
}
