---
import type { ComponentProps } from "react";

import { SEO } from "astro-seo";

import { Breadcrumb } from "@/components/Breadcrumb";
import { Footer } from "@/components/Footer";
import { Heading } from "@/cores/Heading";
import { Link } from "@/cores/Link";

import "@/styles/preflight.css";

type Props = {
  seo: Parameters<typeof SEO>[0] & {
    title: Required<Parameters<typeof SEO>[0]>["title"];
  };
  breadcrumb?: ComponentProps<typeof Breadcrumb>["paths"];
};

const { seo, breadcrumb } = Astro.props as Props;

const seoProps: Props["seo"] = {
  extend: {
    meta: [
      ...[
        { name: "theme-color", content: "#fff" },
        {
          name: "viewport",
          content: "width=device-width,minimum-scale=1,initial-scale=1",
        },
      ],
      ...(seo?.extend?.meta ? seo.extend.meta : []),
    ],
    link: [
      ...[
        { rel: "manifest", href: "/site.webmanifest" },
        {
          rel: "icon",
          type: "image/svg+xml",
          sizes: "any",
          href: "/assets/img/logo/icon.svg",
        },
        {
          rel: "icon",
          type: "image/png",
          sizes: "256x256",
          href: "/assets/img/logo/icon-256x256.png",
        },
        {
          rel: "apple-touch-icon",
          type: "image/png",
          sizes: "256x256",
          href: "/assets/img/logo/icon-256x256.png",
        },
        {
          rel: "mask-icon",
          color: "#335BC4",
          href: "/assets/img/logo/mask.svg",
        },
        {
          rel: "stylesheet",
          href: "https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap",
        },
      ],
    ],
  },
  ...seo,
};
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />

    <SEO {...seoProps} />
  </head>
  <body>
    <header>
      <Heading level={1} className="heading">
        <Link href="/">hbsnow.dev</Link>
      </Heading>
    </header>

    {breadcrumb && <Breadcrumb paths={breadcrumb} />}

    <slot />

    <Footer />
    <style>
      header {
        border-bottom: var(--border-thin) solid var(--color-default-divider);
        padding: var(--s5);
      }

      .heading {
        text-align: center;
      }
      .heading > :global(a) {
        background-image: var(--color-gradation);
        background-clip: text;
        color: transparent;
      }
    </style>
  </body>
</html>
