.root {
  display: flex;
  align-items: flex-start;
  gap: var(--s-1);
}

.state {
  color: var(--color-default-text-muted);
  font-size: var(--s-1);
}

.icon {
  display: inline-flex;
  background-color: var(--color-default-surface);
  border-radius: 100%;
  padding: var(--s-5);
}
