.root {
  display: flex;
  align-items: flex-start;
  gap: var(--s-1);
}

.state {
  display: flex;
  align-items: center;
  color: var(--color-default-text-muted);
  font-size: var(--s-1);
  gap: var(--s-5);
}

.slide {
  display: flex;
  align-items: center;
  gap: var(--s-5);
  font-size: var(--s-1);
}

.speakerdeck {
  display: flex;
  align-items: center;
  color: var(--color-icon-speakerdeck);
}

.icon {
  display: inline-flex;
  background-color: var(--color-default-surface);
  border-radius: 100%;
  padding: var(--s-5);
}

.activity {
  display: inline-flex;
  gap: 0 var(--s-5);
}
